<!DOCTYPE html>
<html lang="es">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Web Sockets</title>
        <script src="/socket.io/socket.io.js"></script>
        <script src="js/main.js"></script>
    </head>

    <body>
        <h2>Ingrese Producto</h2>
        <form onsubmit="return addProduct(this)">
            Title: <input type="text" id="title" />
            Price: <input type="text" id="price" />
            Thumbnail: <input type="text" id="thumbnail" />
            <input type="submit" value="Agregar">
        </form>
        <hr>
        {{{body}}}
        <form onsubmit="return addMessage(this)">
            Usuario: <input type="text" id="email" placeholder="Tu email"><br>
            Mensaje: <input type="text" id="texto" placeholder="Mensaje">
            <input type="submit" value="Enviar">
        </form>
        <div id="mensajes"></div>
    </body>

</html>
