<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <title>Handlebars</title>
    </head>

    <body>
        <h2>Ingrese Producto</h2>
        <form action="/" method="POST">
            Title: <input type="text" name="title" />
            Price: <input type="text" name="price" />
            Thumbnail: <input type="text" name="thumbnail" />
            <button type="submit">Agregar</button>
        </form>
        <hr>
        {{{body}}}
    </body>

</html>
