<h2>Lista de Productos</h2>
<table id="productos">
    <tr>
        <th>Título</th>
        <th>Precio</th>
        <th>Miniatura</th>
    </tr>
    {{#each list}}
        <tr>
            <td>{{title}}</td>
            <td>{{price}}</td>
            <td>
                <img src="{{thumbnail}}" width="50" height="auto" alt="miniatura no disponible">
            </td>
        </tr>
    {{else}}
        <td>No hay productos</td>
    {{/each}}
</table>
<hr>
