//- Lo que se inserta en el contenedor

h2 Lista de Productos
button(onclick="location.href='/'") Agregar productos
- var productos = arrayProductos;
hr
each val in productos
    div
    p= 'Title: ' + val.title
    p= 'Price: ' + val.price
    - var imageLink = val.thumbnail;
    img(src=imageLink width='100' height='auto' alt='miniatura')
    hr
else
    p= "No hay productos"
