<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Productos</title>
    </head>

    <body>
        <h1>Productos</h1>
        <hr>
        <h2>Probar con Postman</h2>
        <p>Ajuste nivel de user: folder 'data' - archivo 'userLevel.js'</p>
        <hr>
        <h3>Estructura:</h3>
        <p>  { "nombre": string, "descripcion": string, "codigo": string, "url": string, "precio": number, "stock": number }</p>
  <p>ID y TIMESTAMP son asignados automáticamente</p>
  <hr>
    </body>

</html>
